$dashboardBuildersBackgroundColor: #af3131;
$dashboardSoldiersBackgroundColor: #58af58;
$dashboardMagesBackgroundColor: #007faf;
$dashboardCastleBackgroundColor: #2e2e2e;

$cardBuildingBackgroundColor: #ffdcd2;
$cardBuildingBorderColor: #ff4848;
$cardArmyBackgroundColor: #c0ffc0;
$cardArmyBorderColor: #00af00;
$cardMagicBackgroundColor: #d2eeff;
$cardMagicBorderColor: #0080ff;
