.wall {
    width: 9px; // wall image width
    height: 255px; // matches the castle + grass
    padding-top: 15px; // so the wall base matches the castle base
    margin: 0 10px; // to put some spacing around
}

.wall-image-wrapper {
    overflow: hidden; // hides overflowing wall in the bottom
}

.wall-image {
    position: relative; // allows image to be shifted up/down by the inline CSS "bottom"
}
