.game {
    display: flex;
    flex-direction: row;
}

.playerDashboard {
    flex: 2;
    opacity: 0.5;
    max-width: 15em;
}

.playerDashboard.is-on-turn {
    opacity: 1;
    border: 3px seagreen solid;
}

.playerStats,
.castleStats {
    border: 1px dotted black;
    margin: 3px;
}

.not-playable {
    opacity: 0.4;
}
