@import '_vars.scss';

.card-xyz {
    width: 7em;
    height: 12em;
    min-width: 7em;
    max-width: 7em;
    border: 6px solid silver;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    text-align: center;

    position: relative;
    top: 0px;
    left: 0px;
    transition-property: left, top;
    transition-duration: 0.7s;
}

.card-building {
    background-color: $cardBuildingBackgroundColor;
    border-color: $cardBuildingBorderColor;
}

.card-army {
    background-color: $cardArmyBackgroundColor;
    border-color: $cardArmyBorderColor;
}

.card-magic {
    background-color: $cardMagicBackgroundColor;
    border-color: $cardMagicBorderColor;
}
